$color-purple: hsl(237, 100%, 75%);
$color-purple-dark: hsl(237, 100%, 70%);
$color-purple-darker: hsl(237, 100%, 65%);
$color-purple-darkest: hsl(237, 100%, 60%);
$color-purple-light: hsl(237, 100%, 80%);
$color-purple-lighter: hsl(237, 100%, 85%);
$color-purple-lightest: hsl(237, 100%, 90%);

$color-white: hsl(0, 0%, 97%);
$color-white-darker: hsl(0, 0%, 92%);
$color-white-darkest: hsl(0, 0%, 87%);


.color-purple {
    color: $color-purple;
}

.color-bg-purple {
    background-color: $color-purple;
    color: white;
}

.btn-light {
    background-color: $color-white-darker;
}

.btn-primary {
    background-color: $color-purple;
    border-color: $color-purple;

    &:active,
    &:hover,
    &:focus,
    &:visited,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: $color-purple-dark;
        border-color: $color-purple-dark;
        box-shadow: 0 0 0 0 !important;
    }
}

.btn-outline-primary {
    color: $color-purple;
    border-color: $color-purple;

    &:active,
    &:hover,
    &:focus,
    &:visited,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: white;
        background-color: $color-purple;
        border-color: $color-purple-darker;
        box-shadow: 0 0 0 0 !important;
    }
}

.custom-font {
    font-family: 'Jost', sans-serif;
}

.custom-font-bold {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

h1.custom-font {
    font-family: 'Jost', sans-serif;
    font-size: 3.0em;
}

body {
    background-color: $color-white;
}

hr {
    border-top-width: 5px;
}

#navbar {
    background-color: $color-purple;
    // margin-bottom: 50px;

    .nav-link {
        color: white;
    }
}

.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.event-dates-new input:disabled,
.event-dates-new input[readonly] {
    background-color: white;
}

.flatpickr-date input {
    background-color: white !important;
}

.toolbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.input-group-recurrence {
    .form-group {
        margin-bottom: 0px !important;
    }
}

#modal-event {
    .modal-header {
        border-bottom: none;
        display: block;
    }

    .modal-header-display {
        .modal-title {
            margin-bottom: 10px;
        }

        .description {
            font-weight: 400;
            line-height: 1.5;
            box-sizing: border-box;
            color: #586069;
            font-size: 12px;
        }
    }


    .event-data {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;

        .event-data-icon {
            margin-right: 15px;
        }
    }

    .event-data.name {
        .event-data-data {
            font-size: 24px;
        }
    }

    .modal-header-display,
    .modal-header-edit {
        display: none;
    }

    .modal-header-display.active,
    .modal-header-edit.active {
        display: block;
    }

}


#navbar {
    height: 60px;
}

hr {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 1.5rem !important;
}



.home-toolbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .home-toolbar {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}



.daily-recurrences-container {
    display: flex;
    overflow-x: auto;
    height: calc(100vh - 157.5px);
}

@media screen and (max-width: 768px) {
    .daily-recurrences-container {
        height: calc(100vh - 88px - 25px - 60px);
    }

}

.board-wrapper {
    margin: 0px 30px;
}

// start of extra
.board-daily-recurrences {
    width: 280px;
    max-height: 100%;

    .card-header {
        background-color: $color-purple-lightest;
    }

    .card-body {
        overflow-y: auto;
    }

    .board-item {
        display: flex;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, .12);
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .04);
        margin-bottom: 10px;
        cursor: pointer;

        .board-item-starts-at {
            color: #8e908c;
            font-size: .8rem;
        }
    }

    .board-item.completed {
        .board-item-name {
            color: grey;
            text-decoration: line-through;
        }

        .board-item-starts-at span {
            text-decoration: line-through;
        }
    }
}

@media screen and (max-width: 768px) {
    .daily-recurrences-container {
        scroll-snap-type: x mandatory;
    }

    .board-wrapper {
        scroll-snap-align: center;
    }

    .board-daily-recurrences {
        width: 90vw;
    }
}

.board-wrapper-current-date .card-header {
    background-color: khaki;
}



.form-event-new {
    width: 600px;
    margin-bottom: 80px;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .form-event-new {
        margin-bottom: 80px;
        margin-top: 0px;
    }
}

.card-login {
    width: 400px;

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .card-login .buttons {
        flex-direction: column;

        .btn-primary {
            width: 100%;
        }

        .other-page {
            text-align: center;
            margin-top: 10px;
        }
    }
}