body {
    // background-color: #fafafa;
    margin-bottom: 100px;
}

hr {
    border-top-width: 5px;
}


.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.event-dates-new input:disabled, 
.event-dates-new input[readonly]  {
    background-color: white;
}

.flatpickr-date input {
    background-color: white !important;
}

.toolbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.container-day-recurrences {
    margin-bottom: 30px;
    
    .header {
        margin-bottom: 10px;
    }
    
    .header-date {
        font-weight: bold;
    }
    
    .events-list {
        .event {
            
            &:hover {
                background-color: #f7f7f7;
            }
            
            .event-checkbox {
                margin-right: 10px;
            }
            
            .event-time {
                margin-right: 5px;
            }
            
            .event-modal-open:hover {
                cursor: pointer;
            }
            
        }
    }
}


#modal-event {

    .modal-header {
        border-bottom: none;
        display: block;
    }

    .modal-header-display {
        .modal-title {
            margin-bottom: 10px;
        }
        
        .description {
            font-weight: 400;
            line-height: 1.5;
            box-sizing: border-box;
            color: #586069;
            font-size: 12px;
        }
    }
    
    
    .event-data {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        
        .event-data-icon {
            margin-right: 15px;
        }
    }
    
    .event-data.name {
        .event-data-data {
            font-size: 24px;
        }
    }

    .modal-header-display,
    .modal-header-edit {
        display: none;
    }

    .modal-header-display.active,
    .modal-header-edit.active {
        display: block;
    }
    
}


.form-group label {
    font-weight: bold;
}
