body {
    // background-color: #fafafa;
    margin-bottom: 100px;
}

hr {
    border-top-width: 5px;
}

.event-dates-new input:disabled, 
.event-dates-new input[readonly]  {
    background-color: white;
}

.recurrences {
    display: flex;
    overflow-x: auto;
    padding-bottom: 30px;
}


.recurrences-board {
    display: block;
    
    
}


.card-recurrence-day {
    width: 300px;
    margin: 0px 10px;
}